name: Convert Resume to PDF

on:
    push:
        paths:
            - 'resume.md'
            - 'power_resume.md'
        branches:
            - main  # or any branch you want this action to run on
    pull_request:
        paths:
            - 'resume.md'
            - 'power_resume.md'
        branches:
            - main  # or any branch you want this action to run on

jobs:
    convert-general-resume:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'

            - name: Install pandoc and dependencies
              run: |
                    sudo apt-get update
                    sudo apt-get install -y pandoc texlive

            - name: Convert Markdown to PDF
              run: |
                  pandoc resume.md \
                  -V geometry:margin=0.75in \
                  -o Resume.pdf

            - name: Upload Resume PDF
              uses: actions/upload-artifact@v4
              with:
                name: Resume
                path: Resume.pdf
    convert-power-resume:
        runs-on: ubuntu-latest
        needs: convert-general-resume
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install pandoc and LaTeX
              run: |
                  sudo apt-get update
                  sudo apt-get install -y pandoc texlive

            - name: Build power resume
              run: |
                  pandoc power_resume.md \
                    -V geometry:margin=0.75in \
                    -o Resume-Power.pdf

            - name: Upload power resume
              uses: actions/upload-artifact@v4
              with:
                  name: Resume-Power
                  path: Resume-Power.pdf